<div class="container-questions">
  <% @stages_questions.each do |stage| %>
    <div class="card-stage-questions">
      <div class="card-stage-heading">
        <h2><%= stage.name %></h2>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#stageModal-<%= stage.id %>">Add</button>
      </div>
      <% stage.questions.each do |question| %>
        <div>
          <p><%= question.description %></p>
        </div>
      <% end %>
    </div>
    <div class="modal fade" id="stageModal-<%= stage.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= stage.name %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for([stage, @question]) do |f| %>
              <%= f.input :description %>
              <%= f.submit class: "btn btn-secondary"  %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
