<div class= "container m-3 p-3">
  <h2 style="padding-left: 6px;"> <%= interview.user.first_name  %>'s
    Upcoming<br>
    Interview:</h2>
  <div class= "d-flex gap-3 ms-4">
    <div class="card mb-3" style="max-width: 540px; box-shadow: 10px 5px 5px orange;border-radius: 6px; border: 2px solid #333;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag "sinta-icons/0#{rand(7)}.png", style: 'height:100%; width:120%;background: lightblue;' %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title"><%= interview.candidate.first_name%> <%=interview.candidate.last_name %></h3>
            <h5 class="card-title">Stage: <%= interview.stage.id %> - <%= interview.stage.name %></h5>
            <p class="card-text"><small class="text-muted"><%= interview.feedback %></small></p>
            <p class="card-text">Role: <%= interview.stage.role.title%></p>
            <p class="card-text"><small class="text-muted"><%= interview.stage.name %> Interview: Dec 18th, 9:30-10pm </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
