<% if user_signed_in? %>
  <div class="px-sm-2 px-0 bg-white border-end">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100 justify-content-center">
      <%= image_tag("Sinta-ArtisticLogo-03.jpg", class: "rounded-circle my-3 mb-5 ms-3", width: "100px" ) %>
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start gap-2" id="menu">
        <li>
          <i class="fa-solid fa-house"></i><%= link_to "Dashboard", root_path, class:"align-middle btn btn-link text-decoration-none" %>
        </li>
        <li>
          <%# change my path!---------------------------------------- %>
          <i class="fa-solid fa-clipboard-question"></i><%= link_to "Interviews", roles_path, class:"align-middle btn btn-link text-decoration-none" %>
        </li>
        <li>
          <%# change my path!---------------------------------------- %>
          <i class="fa-regular fa-pen-to-square"></i><%= link_to "Reviews", roles_path, class:"align-middle btn btn-link text-decoration-none" %>
        </li>
        <li>
          <i class="fa-regular fa-rectangle-list"></i><%= link_to "Roles", roles_path, class:"align-middle btn btn-link text-decoration-none" %>
        </li>
      </ul>
      <hr>
      <%# need to implement user stuff here %>
      <div class="dropdown pb-4">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag current_user.photo, alt: "text", class: "avatar-bordered" %>
          <span class="d-none d-sm-inline mx-1">loser</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
