<div id="content-container">
  <div class="container-fluid">
    <div class="candidates-list-card mt-3">
      <div class="mb-3">
        <h1 style="padding-left: 6px;"> <%= "Candidate - #{@candidate.first_name.capitalize} #{@candidate.last_name.capitalize}" %></h1>
      </div>
      <% @interviews.each do |interview| %>
        <div class="card-product position-relative mb-4" style="border-top-left-radius: 80px 80px; border-top-right-radius: 20px 20px; border-bottom-left-radius: 80px 80px; overflow: visible; <%= interview == @interviews.last ? "" : "filter: grayscale(0.6);" %>">
          <img class="avatar" src="<%= interview.user.photo %>" />
          <% if interview.feedback %>
            <i style="color: green;" class="fa-solid fa-circle-check position-absolute top-0 start-100 translate-middle fs-2"></i>
          <% end %>
          <p style="top: 8px; right: 16px;" class="position-absolute"><%= interview.status %></p>
          <div class="card-product-infos w-100 h-100 position-relative">
            <div class="">
              <h2 class="my-0 py-0 fs-4">Stage - <%= interview.stage.name %></h2>
              <p class="my-0 py-0 fs-6">Interviewer - <%= interview.user.first_name %></p>
            </div>
            <p class="fs-5"><%= interview.feedback %></p>
            <h5 class="position-absolute" style="color: gold; bottom: 10px; right: 20px;">
              <% interview.rating.to_i.times do %>
                <i class="fa-solid fa-star"></i>
              <% end %>
            </h5>
          </div>
        </div>
      <% end %>
      <div class="d-flex" role="">
        <% if @next_stage %>
          <%= simple_form_for @candidate do |f| %>
            <%= f.input :stage_id, as: :hidden, input_html:{value: @next_stage.id} %>
            <%= f.submit "Move to next stage: #{@next_stage.name.capitalize}", class: "btn btn-orange" %>
          <% end %>
        <% else %>
          <%= link_to "Send Offer", candidate_path(@candidate, send: true), class: "btn btn-orange" %>
        <% end %>
        <%= link_to "Reject", candidate_path(@candidate, reject: true), class: "btn btn-orange align-self-end ms-3" %>
      </div>
    </div>
  </div>
</div>
</div>
