<div class="accordion stages-list stages-list-bottom" id="accordionExample">
  <div class="accordion-item border-0">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne<%=stage.id%>" aria-expanded="false" aria-controls="collapseOne">
        <p>Candidates</p>
      </button>
    </h2>
    <div id="collapseOne<%=stage.id%>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body d-flex p-0 justify-content-center">
        <% stage.candidates.each do |candidate| %>
          <div id="candidate" class="category-card d-flex pr-3">
            <div class="me-2">
              <%= user_avatar(candidate.full_name) %>
            </div>
            <p class="candidate-name-link me-2">
              <%= link_to candidate_path(candidate) do %>
                <%= candidate.full_name %>
              <% end %>
            </p>
            <a href="https://www.linkedin.com/">
              <i class="fa-brands fa-linkedin" style="--fa-primary-color: $green;"></i>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
