<div class="container" data-controller="hide-div-stage">
  <%# <div class="stage-card-list"> %>
  <div class="">
    <% @role.stages.each do |stage| %>
      <div class="stages-list mb-3">
        <div class="d-flex justify-content-between align-items-center">
          <p><%= stage.name %> Interview</p>
          <div class="d-flex">
            <% stage.stage_interviewers.each do |interview| %>
              <%= image_tag interview.user.photo, alt: "text", class: "avatar-bordered" %>
            <% end %>
            <button type="button" class="btn btn-ghost" data-bs-toggle="modal" data-bs-target="#teammembers<%= stage.id %>">+</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="stage-add-card">
    <div class="btn btn-primary my-3">
      <button type="button" data-action="click->hide-div-stage#hide" class="btn btn-primary">Add</button>
    </div>
  </div>
  <div class="stage-card-form" data-hide-div-stage-target="div" style="display: none;">
    <%= simple_form_for [@role, @stage] do |f| %>
      <%= f.input :name %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
