<div class="container bg-white p-4">
  <div class="d-grid gap-2 justify-content-md-start mb-3">
    <%= link_to 'Back', roles_path, class: 'btn btn-ghost'  %>
  </div>
  <h1 class="text-header">Create New Role</h1>
  <%= simple_form_for @role do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%= f.submit class: 'btn btn-flat mt-2' %>
    </div>
  <% end %>
</div>
