<div class="mx-3" data-controller="hide-div-stage">
  <div class="stages-list-card mt-3">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mb-3"><%= stage.name %></h1>
      <div class="mb-3">
        <%= link_to "Add Candidate", new_role_candidate_path(@role), class: 'btn btn-orange' %>
        <%= link_to "Add Interviewer", new_role_candidate_path(@role), class: 'btn btn-orange' %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= render 'roles/interviewers', stage:stage %>
        <%= render 'stages/questions', stage: stage %>
      </div>
      <div class="col-6">
        <%= render 'roles/candidates', stage:stage %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="teammembers<%= stage.id %>" tabindex="-1" aria-labelledby="teammembers<%= stage.id %>" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="teammembers<%= stage.id %>">Select Interviewers</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'stage_interviewers/interviewer-form', stage:stage %>
      </div>
    </div>
  </div>
</div>
