<div class="container">
  <div class = "d-flex flex-wrap">
    <% @role.stages.each do |stage| %>
      <div class="d-flex gap-3 p-2 " >
        <div class="d-flex card p-2" style="width: 240px;" style= "margin-bottom: 18px;">
          <span class="badge bg-dark">
            <%= stage.id %>
            <%= stage.name.capitalize %>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#teammembers<%= stage.id %>">+</button>
          </span>
          <div class="flex-column">
            <% stage.users.each do |user| %>
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-circle mb-3" style="width: 150px; padding-top:10px" alt="Avatar" />
              <h5 class="mb-2"><strong><%= user.first_name.capitalize %></strong></h5>
              <p class="text-muted"><%= user.position.capitalize %></p>
            <% end %>
          </div>
        </div>
      </div>
      <%# modal %>
      <div class="modal fade" id="teammembers<%= stage.id %>" tabindex="-1" aria-labelledby="teammembers<%= stage.id %>" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="teammembers<%= stage.id %>">Select Interviewers</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render 'stage_interviewers/interviewer-form', stage:stage%>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# modal end %>
    <% end %>
  </div>
</div>
