<div id="content-container">
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-12">
        <h1 style="padding-left: 6px;"> Role Title - <%= @role.title %></h1>
        <div class= 'row' style="border: 2px solid #333; box-shadow: 8px 4px 4px orange;border-radius: 6px;">
          <div class="c_breadcrumb">
            <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
              <% @role.stages.each do |stage| %>
                <li class="nav-item" role="presentation">
                  <button class="nav-link <%= params[:tab] == "stages" ? " active" : "NULL" %>" id="pills-<%= stage.name %>-tab" data-bs-toggle="pill" data-bs-target="#pills-<%= stage.name %>" type="button" role="tab" aria-controls="pills-stages" aria-selected="false"><%= stage.name %></button>
                </li>
              <% end %>
              <%#  %>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <% @role.stages.each do |stage| %>
                <div class="tab-pane fade <%= params[:tab] == "questions" ? " show active" : "NULL" %> " id="pills-<%= stage.name %>" role="tabpanel" aria-labelledby="pills-questions-tab" tabindex="2"><%= render 'questions/questions' %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
