<div id="content-container" style = flex-wrap: wrap;>
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-10">
        <h1 style="padding-left: 6px;"> Role Title - <%= @role.title %></h1>
        <div class= 'row' style="border: 2px solid #333; box-shadow: 4px 4px 4px orange;border-radius: 6px;">
          <div class='item'>
            <div class="arrow top"></div>
            <div class="content">Screening</div>
            <div class="arrow bottom"></div>
          </div>
          <div class='item active'>
            <div class="arrow top"></div>
            <div class="content">Technical</div>
            <div class="arrow bottom"></div>
          </div>
          <div class='item'>
            <div class="arrow top"></div>
            <div class="content">Technical</div>
            <div class="arrow bottom"></div>
          </div>
          <div class='item'>
            <div class="arrow top"></div>
            <div class="content">Technical</div>
            <div class="arrow bottom"></div>
          </div>
          <div class='item'>
            <div class="arrow top"></div>
            <div class="content">Culture Fit</div>
            <div class="arrow bottom"></div>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade <%= params[:tab] == "stages" ? " show active" : "NULL" %> " id="pills-stages" role="tabpanel" aria-labelledby="pills-stages-tab" tabindex="0"><%= render 'stages/stages'  %></div>
              <div class="tab-pane fade <%= params[:tab] == "questions" ? " show active" : "NULL" %> " id="pills-questions" role="tabpanel" aria-labelledby="pills-questions-tab" tabindex="2"><%= render 'questions/questions' %></div>
              <div class="tab-pane fade <%= params[:tab] == "candidates" ? " show active" : "NULL" %> " id="pills-candidates" role="tabpanel" aria-labelledby="pills-candidates-tab" tabindex="4"> <%= render 'candidates/list' %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
